.btn-start-home {
    width: 101px;
    height: 40px;
    background: #1890ff;
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-family: "Roboto", sans-serif;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #ffffff;
    }
}
